body{
   background-image: url(imagesb.jpg) ;
}
.navbar{
   display: inline;
   background-color: rgba(106, 106, 106, 0.5);
   box-shadow: 4px 4px 5px #888888;
}
.center{ 
   background-color: rgba(106, 106, 106, 0.3);
   box-shadow: 4px 4px 5px #888888;
   text-align: center;
}
a{
   background-color: rgba(106, 106, 106, 0.5);
   color: black;
   
}
.container{
   flex-wrap: wrap;
}
.reck{
   font-size: large;
}
.one{
   font-size: large;
}
.last{
   text-align: center;
}
img :hover{
transform: scale(1.1);
}
img{
   transition:all 1s;
}




