body
{ background-color:black;}
head{background-color:antiquewhite;}
p{color: white;}
title{color: white;}
h1{color: blue;}
h2{color: black;}
table{color: white;}
tr{color: white;}
td{color: white;}
th{color: white;}
a{color: blueviolet;}
h3{color: white;}
h4{color: white;}
body{color: white;}
input{color:black; background-color: white;}
reset{color: blue; background-color: blue;}
